.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hori_scroll {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    margin: 10px;
    overflow-x: scroll;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}